node_modules
**/node_modules
.cache
.local
.render
dist
tmp
out-tsc
*.tsbuildinfo

.git
.gitattributes
.github

.cache/
.local/
.expo
.expo-shared

*.md
!artifacts/*/README.md
LICENSE
replit.md
attached_assets/
mockup-sandbox/

.env
.env.*
!.env.example

zipFile.zip
